.button {
  color       : $btn-default-color!important;
  background  : $btn-default-bg;
  display     : inline-block;
  width       : 100%;
  font-size   : px2rem(32);
  height      : px2rem(100);
  line-height : px2rem(100);
  text-align  : center;

  &.fix {
	position    : fixed;
	bottom      : 0;
  }

}
.button.disabled {
  background : $btn-disable-bg;
}
.button-box{
  width: 100%;
  padding: 0 px2rem(30);
  box-sizing: border-box;
}