.footer {
  position        : fixed;
  bottom          : 0;
  width           : 100%;
  height          : px2rem(100);
  background      : #fff;
  display         : flex;
  display:  -webkit-flex;
  justify-content : space-between;
  -webkit-justify-content : space-between;
  border-top      : 1px solid $border-color-base;
  z-index: 100;
  .footer-nav {
	flex-grow   : 1;
	-webkit-flex-grow   : 1;
	text-align  : center;
	padding-top : px2rem(10);
	position    : relative;
	text-decoration: none;
	&.actived .title {
	  color : $text-color !important;
	}
	.icon {
	  margin : auto;
	  width  : px2rem(44);
	  height : px2rem(44);
	}
	.bubble {
	  position      : absolute;
	  background    : #f42d47;
	  padding       : px2rem(3);
	  border-radius : px2rem(30);
	  font-size     : px2rem(20);
	  color         : #fff;
	  top           : px2rem(10);
	  left          : 50%;
	  margin-left   : px2rem(18);
	  line-height: 1;
	  box-sizing: border-box;
	  min-width: px2rem(95);
	  text-align: center;
	}
	.title {
	  margin-top : px2rem(8);
	  font-size  : px2rem(22);
	  color      : #ccc;
	}
  }
}
.icon {
  &.account {
	background: url("../images/icons/icon_foot_account.png");
	background-size: 100% auto;
  }
  &.order {
	background: url("../images/icons/icon_foot_order.png");
	background-size: 100% auto;
  }
  &.consultation{
	background: url("../images/icons/icon_foot_consult.png");
	background-size: 100% auto;
  }
  &.teacher{
	background: url("../images/icons/icon_foot_search.png");
	background-size: 100% auto;
  }
}
.actived {
	.icon.consultation{
		background: url("../images/icons/icon_foot_consult_s.png");
		background-size: 100% auto;
	}
	.icon.teacher{
		background: url("../images/icons/icon_foot_search_s.png");
		background-size: 100% auto;
	}
	.icon.account{
		background: url("../images/icons/icon_foot_account_s.png");
		background-size: 100% auto;
	}
	.icon.order {
		background: url("../images/icons/icon_foot_order_s.png");
		background-size: 100% auto;
	}
}
