.mbsc-fr-popup, .mbsc-ios .mbsc-fr-btn-cont, .mbsc-ios .mbsc-fr-w, .mbsc-wp .mbsc-ms-ic:before {
  font-size : px2rem(28);
}
.mbsc-ios .mbsc-sc-itm{
  height: px2rem(68)!important;
}
.mbsc-range-btn{
	line-height: px2rem(40)!important;
}