@import "style";
@import "list";
.header{
  line-height: 1;
  background: #fff;
  .header-top{
    text-align: center;
    padding: px2rem(90) 0 px2rem(80);
    .title{
      font-size: px2rem(28);
      padding-bottom:px2rem(20);
    }
    .income{
      small{
        font-size: px2rem(36);
      }
      font-size: px2rem(60);
      color: $link-color;
    }
  }
  .header-bottom{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding-bottom: px2rem(30);
    border-bottom: px2rem(1) solid #ddd;
    .bottom-item{
      flex-grow: 1;
      -webkit-flex-grow:1;
      text-align: center;
      position: relative;
      &:nth-of-type(1):after{
        content: '';
        height: 100%;
        border-right: 1px solid $border-color-base;
        position: absolute;
        right: 0;
        top:0;
      }
      .title{
        font-size: px2rem(24);
        color: $text-color-secondary;
        padding-bottom: px2rem(16);
      }
      .text{
        font-size: px2rem(32);
        small{
          font-size:px2rem(24);
        }
      }

    }
  }
}
.icon{
  display: inline-block;
  text-align: center;

  padding: 0 px2rem(10);
  height: px2rem(32);
  line-height: px2rem(32);
  font-size: px2rem(20);
  color: #fff;
  border-radius: px2rem(8);
  margin-left: px2rem(20);
  &.no-income{
    background: $link-color;
  }
  &.refunded{ background: #f42c48;}
  &.has-income{
    background: #ccc;
  }
}



.card-list-item{width:100%;box-sizing:border-box;border:0.05rem #ddd solid; border-width: 0.05rem 0; background: #fff; margin-bottom: 0.5rem;}
.card-list-item .top{display:flex;display:-webkit-flex;flex:1;padding:2rem 0 1rem;box-sizing:border-box;padding-left:1.5rem;position:relative}
.card-list-item .top:after{content:'';position:absolute;border-bottom:0.05rem #ddd solid;left:1.5rem;right:0;bottom:0}
.card-list-item .top .left{flex-shrink:1;-webkit-flex-shrink:1;width:5rem;margin-right:4rem}
.card-list-item .top .data{font-size:4rem;color:#3f3f3f;font-weight:bold;text-align:center;line-height:1}
.card-list-item .top .small-text{font-size:1.8rem;padding:0.02rem 0 1.2rem}
.card-list-item .top-left-button{width:5rem;height:2rem;font-size:1.2rem;background:#cdcdcd;color:#fff;line-height:2rem;text-align:center;border-radius:0.4rem}
.card-list-item .top-left-button.unbalanced{background:#c09317}
.pretax-income{font-size:1.2rem;color:#3f3f3f;padding-bottom:1.5rem;line-height:1}
.pretax-income .income{font-size:1.8rem}
.income-detail .tips{padding-bottom:0.8rem;line-height:1;color:#888;font-size:1.2rem}
.card-list-item .bottom{height:4rem;line-height:4rem;font-size:1.4rem;color:#c09318;font-weight:bold;text-align:center}


