@import "./style";
@import './_footer_nav';
.master-contact {
    position: fixed;
    top: 0;
    width: 100%;
    height: px2rem(100);
    background-color: #20b075;
    padding: 0 px2rem(30);
    color: #fff;
    line-height: px2rem(100);
    .icon-contact {
        width: px2rem(30);
        height: px2rem(30);
        background: url("../images/icon_contact.png");
        background-size: 100% 100%;
        vertical-align: middle;
        display: inline-block;
    }
    .contact-info {
        font-size: px2rem(24);
        margin-left: px2rem(10);
        display: inline-block;
    }
}
.headempty {
    height: px2rem(100);
}
.content {
    width: 100%;
    padding-bottom:px2rem(120);
    .item {
        width: 100%;
        margin-top: px2rem(20);
        border: 1px solid $border-color-base;
        border-width: 1px 0;
        height: px2rem(270);
        background: #fff;
        padding-left: px2rem(30);
        box-sizing: border-box;
        display: block;
        color: $text-color!important;
        .top {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            align-items: center;
            -webkit-align-items: center;
            height: px2rem(190);
            line-height: 1;
            border-bottom: 1px solid $border-color-base;
            padding-right: px2rem(30);
            .left {
                float: left;
                img {
                    width: px2rem(120);
                    height: px2rem(120);
                    border-radius: 50%;
                }
            }
            .center {
                margin-left: px2rem(140);
                .title {
                    font-size: px2rem(30);
                    font-weight: bold;
                    padding-bottom: px2rem(14);
                }
                .price {
                    font-size: px2rem(24);
                    color: $text-color-secondary;
                    padding-bottom: px2rem(22);
                }
                .text {
                    font-size: px2rem(30);
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    line-height: 1.5;
                    word-break: break-all;
                }
            }
            .right {
                min-width: px2rem(150);
                align-items: center;
                .top-time {
                    text-align: right;
                    font-size: px2rem(24);
                    padding-bottom: px2rem(60);
                    color: $text-color-secondary;
                }
                .bubbel {
                    color: #fff;
                    text-align: center;
                    font-size: px2rem(20);
                    height: px2rem(30);
                    width: px2rem(100);
                    line-height: px2rem(30);
                    border-radius: px2rem(4);
                    &.num{
                    	width:px2rem(36);
                    	height:px2rem(36);
                    	background: #f42d47;
                    	border-radius: 50%;
                    	line-height: px2rem(36);
                    	float: right;
                    }
                    &.pay_succ{
                        background: #13c75f;
                        float: right;
                    }
                    &.completed,&.settlementing, &.settlemented, &.settlement_fail{
                        background: #ccc;
                        float: right;
                    }
                    &.pay_succ.waitY{
                        background: #d88c3a;
                        float: right;
                    }
                    &.refunded,&.refund_fail,&.refund_applied, &.refunding{
                        width: px2rem(120);
                        background: $link-color;
                        float: right;
                    }
                }
            }
        }
    }
    .bottom{
    	line-height: px2rem(80);
    	display: flex;
        display: -webkit-flex;
    	justify-content: space-between;
        -webkit-justify-content: space-between;
            align-items: center;
        -webkit-align-items: center;
        padding-right: px2rem(30);
    	.bottom-time{
    		font-size: px2rem(20);
    		color:$text-color-secondary;
    	}
    	.bottom-button{
			width: px2rem(130);
			height: px2rem(50);
			text-align: center;
			line-height: px2rem(50);
			font-size: px2rem(24);
            vertical-align: middle;
            display: inline-block;
            &.go-evaluate{
               color:$text-color;
               background: #fff;
               border: px2rem(1) solid #ccc;
            }
            &.see-evaluate{
               color:#fff;
               background: #000;
            }
            &.go-delete {
                color: $text-color;
                width: px2rem(80);
                border: px2rem(1) solid #ccc;
                margin-right: px2rem(10);
            }
    	}


    }
}