
.project

.settings/*
logs/*
*/.settings/*
*/bin/*
*/target/*
*/.classpath
*/.project
fs-web/src/main/webapp/static/css/npm-debug.log
fs-web/src/main/webapp/static/css/.sass-cache
fs-web/src/main/webapp/static/node_modules
fs-web/src/main/webapp/static/npm-debug.log

*.js

fs-web/src/main/webapp/static/css/.sass-cache/*
