
.project

.settings/*
logs/*
*/.settings/*
*/bin/*
*/target/*
*/.classpath
*/.project
fs-web/src/main/webapp/static/css/npm-debug.log

fs-web/src/main/webapp/static/node_modules/.bin/gulp

fs-web/src/main/webapp/static/node_modules/gulp

*.js
